body {
    background-color: #06090f;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: #c7c7c7;
}

span {
    color: #c7c7c7;
}

.navbar {
    background-color: #161b22;
}

.form-signin {
    width: 500px;
    margin-left: 375px;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    border-color: #0d1117;
    background-color: #30363d;
    box-shadow: inset 0 0 3px #000000;
}

.form-control:focus {
    z-index: 2;
    border-color: #0d1117;
    background-color: #30363d;
}

#card {
    background-color: #0d1117;
    border-radius: 15px;
    border: 1px solid #30363d;
}
