body {
    background-color: #06090f;
}

h4 {
    color: #8b949e;
}

.navbar {
    background-color: #161b22;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    border-color: #0d1117;
    background-color: #30363d;
    box-shadow: inset 0 0 3px #000000;
}

.form-control:focus {
    z-index: 2;
    border-color: #0d1117;
    background-color: #30363d;
}

#groupName {
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#groupDesc {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#card {
    background-color: #0d1117;
    border-radius: 15px;
    border: 1px solid #30363d;
}
