body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: radial-gradient(circle, rgb(1, 0, 12) 0%, rgb(29, 29, 54) 85%);
    }

    #header{
        box-shadow: 5px 5px 5px rgb(194, 194, 194);
        padding:10px;
    }
    #navbar{
        
        padding: 20%;
        height:130%;
        box-shadow: 5px 0px 5px rgb(194, 194, 194);
    }
    .outerContainer{
        color: rgb(194, 194, 194);
        text-align: center;
    }

    .icontainer{
        margin-top:5%;
        padding:3%;
 
    }
    #joinGroup{
        margin-bottom: 5%;
    }
    #createGroup{
        margin-bottom: 5%;
    }

    .btn-dark{
        background-color: rgb(194, 194, 194);
        color: rgb(1, 0, 12);
    }